:root {
  --accent: #020070;
  --background: #FFFFFF;
  --spacer: 16px;
  --text: #2F2F2F;
}
* {
  background-color: var(--background);
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a, a:hover, a:visited {
  color: var(--accent);
  cursor: pointer;
  text-decoration: none;
}
footer {
  align-items: center;
  bottom: calc(var(--spacer) + var(--spacer) / 2);
  display: flex;
  font-size: calc(var(--spacer) - (var(--spacer) / 8));
  justify-content: center;
  position: fixed;
  width: 100%;
}
main {
  color: var(--text);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
.footer-margin {
  margin-right: calc(var(--spacer) / 2);
}
.footer-logo {
  height: calc(var(--spacer) + var(--spacer) / 2);
  width: calc(var(--spacer) + var(--spacer) / 2);
}
.highlight {
  font-size: 5em;
  margin: calc(var(--spacer) * 4) var(--spacer) 0 var(--spacer);
}
.main-mobile {
  height: fill-available;
  height: -webkit-fill-available;
}
.sub, .sub-last {
  font-size: 1em;
}
.sub {
  margin: calc(var(--spacer) - (var(--spacer) / 4)) var(--spacer) 0 var(--spacer);
}
.sub-last {
  margin: calc(var(--spacer) - (var(--spacer) / 4)) var(--spacer) calc(var(--spacer) * 4) var(--spacer);
}
