<div class="main__title">
    Eternal life makes my city proud,<br>
    Fuck everyone, king without a crown...
</div>
<div class="main__about">
    about~
    <ul>
        <li class="main__list_el">name: Pete Dee</li>
        <li class="main__list_el">occupation: Fullstack Software Developer for <a href="https://dunice.net">Dunice LLC</a></li>
        <li class="main__list_el">activities: gaming, music creating</li>
        <li class="main__list_el">location: Russian Federation</li>
    </ul>
</div>
<div class="main__links">
    work~
    <ul>
        <li class="main__list_el"><a href="./projects/try1/index.html">try1 - Layout Markup project</a></li>
        <li class="main__list_el"><a href="./projects/todo/index.html">todo - To Do List with jQuery</a></li>
        <li class="main__list_el"><a href="https://github.com/peterorbb">Pete's github</a></li>
    </ul>
</div>
<div class="main__social">
    social~
    <ul>
        <li class="main__list_el"><a href="https://www.youtube.com/user/OrbitaLMister">YouTube channel</a></li>
    </ul>
</div>