<div class="main__title">
    Eternal life <br>
    Make my city proud <br>
    Fuck everyone, king without a crown
</div>
<div class="main__about">
    about~
    <div class="main__list_el"><span class="gray__text">name </span> Pete Dee</div>
    <div class="main__list_el"><span class="gray__text">occupation </span> Full Stack Software Developer for <a href="https://dunice.net">Dunice LLC</a></div>
    <div class="main__list_el"><span class="gray__text">activities </span> CS: GO, DOTA 2, FL Studio</div>
    <div class="main__list_el"><span class="gray__text">location </span> Russian Federation</div>
</div>
<div class="main__links">
    work~
        <div class="main__list_el"><a href="https://github.com/peterorbb">Pete's github</a></div>
</div>
<div class="main__social">
    social~
        <div class="main__list_el"><a href="https://www.youtube.com/user/OrbitaLMister">YouTube channel</a></div>
        <div class="main__list_el"><a href="https://twitter.com/sh10151_">Twitter</a></div>
</div>