<div class="main__title">
    Lost at life, I don't boost up, <br>
    All this time flies away in my coffee cup...
</div>
<div class="main__about">
    about~
    <ul>
        <li class="main__list_el">name: Pete Dee</li>
        <li class="main__list_el">occupation: Fullstack Software Developer for <a href="https://dunice.net">Dunice LLC</a></li>
        <li class="main__list_el">activities: gaming, music creating</li>
        <li class="main__list_el">location: Russian Federation</li>
    </ul>
</div>
<div class="main__links">
    work~
    <ul>
        <li class="main__list_el"><a href="https://github.com/peterorbb">Pete's github</a></li>
    </ul>
</div>
<div class="main__social">
    social~
    <ul>
        <li class="main__list_el"><a href="https://www.youtube.com/user/OrbitaLMister">YouTube channel</a></li>
    </ul>
</div>